body.black {
	background-image: url(../../i/themes/black/bg-main.png);
	-webkit-background-size: 244px 243px;
	background-size: 244px 243px;
}

body.black:after {
	content: '';
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(../../i/themes/black/bg-main.png);
	-webkit-background-size: 244px 243px;
	background-size: 244px 243px;
}

.black .wrapper {
	color: #f2f3f7;
}

.black .header {
	font-size: 20px;
	line-height: 22px;
	color: #bdc47a;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #777986;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.black .header:after {
	content: '';
	position: absolute;
	bottom: -12px;
	width: 100%;
	height: 12px;
	left: 0;
	background-image: url(../../i/themes/black/header-border.png);
	background-repeat: repeat-x;
	-webkit-background-size: auto 12px;
	background-size: auto 12px;
}

.black .settings-button {
	right: 4px;
	top: 4px;
	background-image: url(../../i/themes/black/setting.svg);
}

.black .back-icon {
	background-image: none;
	width: 39px;
	height: 39px;
	margin: 4px 0 0 4px;
	position: relative;
}

.black .back-icon:before,
.black .back-icon:after {
	content: '.';
	position: absolute;
	top: 10px;
	left: 2px;
	width: 0;
	height: 0;
	z-index: 0;
	border: 10px transparent solid;
	border-right-color: #bdc47a;
	border-right-width: 15px;
	color: transparent;
}

.black .back-icon:after {
	left: 4px;
	z-index: 1;
	border-right-color: #777986;
}

.black .list-item {
	color: #f2f3f7;
	text-align: center;
	background-color: #44495c;
	border-radius: 5px;
	margin: 0 auto 12px;
	width: 90%;
	min-width: 280px;
	max-width: 600px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px dashed #666a75;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
}

.black .list-item:active {
	/*border-style: solid;*/
	/*color: #d7e0e3;*/
	/*background-color: #39415f;*/
	border-color: #bdc47a;
}

.black .list-wrapper {
	margin-top: 17px;
}

.black .text-block-wrapper {
	background-color: #44495c;
	border-radius: 5px;
	border: 1px dashed #666a75;
	font-family: Helvetica, Arial, sans-serif;
	padding: 9px 9px 0;
}

.black .question-paragraph {
	padding-bottom: 10px;
	font-size: 15px;
	line-height: 18px;
}

.black .button {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
	text-shadow: none;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Arial, sans-serif;
	color: #f2f3f7;
	border: 1px solid #666a75;
	background-color: #44495c;
	padding-top: 7px;
	padding-bottom: 7px;
}

.black .button:active {
	border-color: #bdc47a;
	/*background-image: none;*/
	/*border-style: solid;*/
	/*color: #d7e0e3;*/
	/*background-color: #39415f;*/
}

.black .button-progress {
	background-color: rgba(157, 164, 92, 0.6);
	top: -1px;
	right: -1px;
	border: 1px solid #666a75;
	border-right: none;
	display: none;
}

.black .navigation-button-wrapper-left,
.black .navigation-button-wrapper-right {
	width: 32px;
	border: 1px solid #666a75;
	background-color: #44495c;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.black .navigation-left,
.black .navigation-right {
	background-image: none;
	position: relative;
	width: 0;
	height: 0;
	margin: 0;
}

.black .navigation-left:after,
.black .navigation-left:before {
	content: '.';
	position: absolute;
	top: 6px;
	left: -2px;
	width: 0;
	height: 0;
	z-index: 0;
	border: 9px transparent solid;
	border-right-color: #666a75;
	border-right-width: 14px;
	color: transparent;
	font-size: 0;
}

.black .navigation-left:after {
	border-right-color: #44495c;
	left: 0;
	font-size: 0;
}

.black .navigation-right:after,
.black .navigation-right:before {
	content: '.';
	position: absolute;
	top: 6px;
	left: 9px;
	width: 0;
	height: 0;
	z-index: 0;
	border: 9px transparent solid;
	border-left-color: #666a75;
	border-left-width: 14px;
	color: transparent;
	font-size: 0;
}

.black .navigation-right:after {
	border-left-color: #44495c;
	left: 7px;
	z-index: 1;
}

