<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Kid Logic</title>

	<!-- mobile device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- do not phone -->
	<meta name="format-detection" content="telephone=no">

	<!-- styles -->
	<link rel="stylesheet" href="css/main.css"/>

	<!-- libs -->
	<script src="js/lib/shim.js" type="text/javascript"></script>
	<script src="js/lib/fastclick.js" type="text/javascript"></script>
	<script src="js/lib/lodash.js" type="text/javascript"></script>

	<script src="js/lib/jquery-2.1.3.js" type="text/javascript"></script>
	<script src="js/lib/jquery.mb.browser.js" type="text/javascript"></script>
	<script src="js/lib/jquery.finger-0.1.2.js" type="text/javascript"></script>
	<script src="js/lib/jquery.press-and-hold.js" type="text/javascript"></script>
	<script src="js/lib/jquery.mousewheel.js" type="text/javascript"></script>

	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<!-- langs -->
	<script src="js/i18n/en.js" type="text/javascript"></script>
	<script src="js/i18n/ru.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/services/log.js" type="text/javascript"></script>
	<script src="js/services/util.js" type="text/javascript"></script>
	<script src="js/services/info.js" type="text/javascript"></script>
	<script src="js/services/lang.js" type="text/javascript"></script>
	<script src="js/services/template-master.js" type="text/javascript"></script>
	<script src="js/services/android-ads.js" type="text/javascript"></script>

	<!-- router -->
	<script src="js/app/router/router.js" type="text/javascript"></script>

	<!-- views -->
	<script src="js/app/view/base.js" type="text/javascript"></script>
	<script src="js/app/view/title.js" type="text/javascript"></script>
	<script src="js/app/view/popup.js" type="text/javascript"></script>
	<script src="js/app/view/about.js" type="text/javascript"></script>
	<script src="js/app/view/help-info.js" type="text/javascript"></script>

	<script src="js/app/view/section.js" type="text/javascript"></script>

	<!-- sound -->
	<script src="js/sound/sound-master.js" type="text/javascript"></script>
	<script src="js/sound/player-web.js" type="text/javascript"></script>
	<script src="js/sound/player-android.js" type="text/javascript"></script>
	<script src="js/sound/player-ios.js" type="text/javascript"></script>

	<!-- sections -->
	<script src="js/section/section-1.js" type="text/javascript"></script>
	<script src="js/section/section-2.js" type="text/javascript"></script>

	<!-- entry point -->
	<script src="js/app/main.js" type="text/javascript"></script>

</head>
<body>

<div class="js-wrapper wrapper">

</div>

<script type="text/x-template" data-name="title">

	<div class="screen">

		<% var win = window, info = win.APP.info, language = info.get('language'); %>
		<div data-route="help-info" class="show-info" data-sound="click.mp3">&nbsp;</div>
		<div class="flags-wrapper">
			<% _.each(info.availableLanguages, function(lang) { %>
			<div class="flag flag-bg-<%= lang %><%= lang === language ? ' flag-active' : ' js-set-lang' %>" data-sound="click.mp3" data-lang="<%= lang %>">&nbsp;</div>
			<% }); %>
		</div>

		<div class="section-buttons-wrapper">
		<% var info = window.APP.info, os = info.get('os', true), index = 0; %>
		<% _.each(win.APP.sectionList, function(section, jsKey) { %>
			<% if (os === 'ios' && info.isNormal && index ) { %>
				<div class="section-button js-external-link" data-need-confirm="yes" data-href="<%= info.link[os].pro %>" data-sound="click.mp3">
					<img class="section-icon opacity50" src="<%= section.imgPath %><%= section.img %>" alt=""/>
					<p class="section-name opacity50"><%= section['name_' + language] %></p>
					<div class="app-store-link">&nbsp;</div>
				</div>
			<% } else { %>
				<div class="section-button" data-sound="click.mp3" data-route="section/<%= jsKey %>" >
					<img class="section-icon" src="<%= section.imgPath %><%= section.img %>" alt=""/>
					<p class="section-name"><%= section['name_' + language] %></p>
				</div>
			<% }; %>
			<% index += 1; %>
		<% }); %>
		</div>

		<% var info = window.APP.info, os = info.get('os', true); %>
		<% if (info.isNormal && os === 'android') { %>
		<div data-sound="click.mp3" class="title-remove-ads js-no-scroll js-external-link" data-need-confirm="yes" data-href="<%= info.link[os].pro %>">&nbsp;</div>
		<% }; %>

		<!--<h1 data-route="about">title page</h1>-->

	</div>

</script>

<script type="text/x-template" data-name="about">

	<div class="screen">
		<h1 class="js-back">about page</h1>
	</div>

</script>

<script type="text/x-template" data-name="popup-wrapper">

	<div class="table popup-wrapper js-popup-wrapper">

		<div class="table-row">
			<div class="table-cell popup-container js-popup-container js-hide-popup"></div>
		</div>

	</div>

</script>

<script type="text/x-template" data-name="info-popup">

	<div><%= text %></div>

</script>


<script type="text/x-template" data-name="section-header">

	<div class="status-bar">
		<div data-sound="click.mp3" class="js-back status-bar-back">&nbsp;</div>

		<% var info = window.APP.info, os = info.get('os', true); %>
		<% if (info.isNormal && os === 'android') { %>
		<div data-sound="click.mp3" class="section-remove-ads js-no-scroll js-external-link" data-need-confirm="yes" data-href="<%= info.link[os].pro %>">&nbsp;</div>
		<% }; %>

	</div>

</script>

<script type="text/x-template" data-name="help-info">

	<div class="screen">

		<div class="js-scroll-area-container scroll-area-container">
			<div>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			rr<br>
			</div>
		</div>

	</div>

</script>


<script type="text/x-template" data-name="good-answer">

	<div class="good-answer-popup js-stop-event js-hide-popup"></div>

</script>

<script type="text/x-template" data-name="bad-answer">

	<div class="bad-answer-popup js-stop-event js-hide-popup"></div>

</script>

<script type="text/x-template" data-name="section">

	<div class="screen">

		<div class="section-wrapper-padding">
			<div class="section-wrapper">
				<%= window.APP.templateMaster.tmplFn['section-header']() %>
				<%= window.APP.templateMaster.tmplFn[question.type](obj) %>
			</div>

		</div>


	</div>

</script>

<script type="text/x-template" data-name="select-improper">

	<div class="question-wrapper-type-1">

		<div class="question-answers-wrapper-type-1">
			<% var info = window.APP.info, lang = info.get('language'), answer = question.answer; %>
			<% _.each(question.list, function(item, index){ %>
			<div data-sound="click.mp3" class="answer-image-type-1 <%= index === answer ? 'js-good-answer' : 'js-bad-answer' %>" style="background-image: url(<%= section.imgPath + item %>)">&nbsp;</div>
			<% }); %>

			<% for (var i = question.list.length; i < 6; i += 1) { %>
			<div class="answer-image-type-1 white-bg"></div>
			<% }; %>
		</div>

		<div class="question-wrapper-text-type-1">
			<div class="question-text-type-1"><%= section['mainQuestion_' + lang] %></div>
		</div>

	</div>

</script>

<script type="text/x-template" data-name="select-right-answer">

	<div class="question-wrapper-type-2">

		<% var info = window.APP.info, lang = info.get('language'), answer = question.answer; %>

		<div class="question-type-2" style="background-image: url(<%= section.imgPath + question.questionImage %>);">
			&nbsp;
			<div class="question-text-type-2"><%= question['text_' + lang] %></div>
		</div>

		<div class="answer-wrapper-type-2">
			<% _.each(question.list, function(item, index){ %>
			<div data-sound="click.mp3" class="answer-item-type-2 <%= index === answer ? 'js-good-answer' : 'js-bad-answer' %>" style="background-image: url(<%= section.imgPath + item %>)">&nbsp;</div>
			<% }); %>

			<% for (var i = question.list.length; i < 4; i += 1) { %>
			<div data-sound="click.mp3" class="answer-item-type-2 white-bg"></div>
			<% }; %>
		</div>

	</div>

</script>


</body>
</html>