.rotater {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../i/rotater-bg.png);
  width: 100px;
  height: 100px;
  opacity: 0.5;
  border-radius: 50%;
  transition: opacity 0.1s ease-out;
}

.rotater--hidden {
  opacity: 0;
}