/*
@font-face {
	font-family: 'Comic Sans MS';
	src: url('../font/Comic%20Sans%20MS.ttf');
}
*/

.wrapper {
	width: 100%;
	height: 100%;
	color: #333;
}

.screen {
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease-in 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes screen-show-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.show-view-animation {
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-name: screen-show-in;
	animation-fill-mode: forwards;
	transform-origin: center center;
}

.show-view-no-animation {
	opacity: 1;
	transition: none;
}

@keyframes screen-show-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.hide-view-animation {
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-name: screen-show-out;
	animation-fill-mode: forwards;
	transform-origin: center center;
}

.scroll-area-container {
	overflow-scrolling: touch;
	height: 100%;
	overflow: auto;
}



