.settings-section {
  text-align: center;
  //font-size: 1rem;
  //line-height: 1.15rem;
  padding-bottom: 2rem;
}

.settings-on-off-button {
  @extend .luxury-3d-button;
}

.settings-on-off-button:active {
  @extend .luxury-3d-button_active;
}

.tangram-texture-item {
  @include prefix(background-size, 95% 95%);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.tangram-texture-preview {
  position: relative;
  display: inline-block;
  width: 6.5rem;
  height: 6.5rem;
  margin: 0.8rem;
  @extend .tangram-texture-item;
}

.tangram-texture-preview:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../i/tangram-frame.svg);
  position: absolute;
  left: 0;
  top: 0;
  @extend .tangram-texture-item;
}










