@font-face {
  font-family: 'origram';
  src: url('../font/origram.otf');
}

body {
  background-image: url(../i/main-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.wrapper {
  color: #333;
  font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  line-height: 125%;
}

.save-atoms {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}

.saved-atoms-name-input {
  position: absolute;
  z-index: 1;
  left: 130px;
  top: 30px;
}

.tangram-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title-game-name {
  font-family: origram, "Courier New", Courier, monospace;
  text-align: center;
  color: #fff;
  letter-spacing: 0.45rem;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  //transform: translate3d(0, -620%, 0);
  @extend .luxury-3d-Text;
}

.screen--button-wrapper_split {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.screen--button-wrapper_split_first {
  @extend .screen--button-wrapper_split;
  top: 0;
}

.screen--button-wrapper_split_second {
  @extend .screen--button-wrapper_split;
  top: 50%;
}

.screen--button {
  width: 45%;
  margin: 0 auto 0.55rem;
  padding: 0.7rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  @extend .luxury-3d-Button;
}

.screen--button:active {
  @extend .luxury-3d-Button_active;
}

.scroll-area-content {
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding-bottom: 3rem;
}

.section-preview {
  width: 5rem;
  display: inline-block;
  //height: 6rem;
  margin: 0.45rem;
  padding: 0.2rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  @extend .luxury-3d-Button;
}

.section-preview:active {
  @extend .luxury-3d-Button_active;
}

.section-preview-image {
  width: 5rem;
  height: 5rem;
  display: block;
}

.section-preview-name {
  font-size: 0.9rem;
  line-height: 1rem;
}

.section-header {
  @extend .luxury-3d-Text;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 0;
  width: 90%;
  @include prefix(box-sizing, border-box);
  margin: 0 auto;
}