.wrapper {
  color: #333;
  font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  line-height: 125%;
}

.save-atoms {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}

.saved-atoms-name-input {
  position: absolute;
  z-index: 1;
  left: 130px;
  top: 30px;
}

.tangram-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


