.wrapper {
	color: #333;
	font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	line-height: 125%;
}

.save-atoms {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}