.one-more-tangram-wrapper {
  font-family: icons;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.one-more-tangram {
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  width: 3.5rem;
  padding: 0.7rem;
  background-color: #fff;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  @extend .luxury-3d-button;
  left: 50%;
}

.one-more-tangram_left {
  @extend .one-more-tangram;
  margin-left: -9.05rem;
}

.one-more-tangram_center {
  @extend .one-more-tangram;
  margin-left: -2.45rem;
}

.one-more-tangram_right {
  @extend .one-more-tangram;
  margin-left: 4.15rem;
}

.one-more-tangram:active {
  @extend .luxury-3d-button_active;
}

.one-more-tangram-check {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 10%;
  text-align: center;
  font-size: 18rem;
  line-height: 18rem;
  color: #fff;
  opacity: 0.75;
  @extend .luxury-3d-text-vertical-shadow;
}

.tangram-successful-view-stars {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: #fff;
  left: 0;
  top: 70%;
  letter-spacing: 0.6rem;
  text-shadow: 0.1rem 0.1rem 0 #111;
}












