.title-page .table-cell {
	padding: 0 5px;
	text-align: center;
	box-sizing: border-box;
	width: 50%;
}

.section-button-wrapper {
	display: inline-block;
	width: 100%;
}

.section-button {
	margin: 0 auto;
	display: block;
	max-width: 240px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 36px;
	text-shadow: 1px 1px 0 #666;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
}

.section-button img {
	width: 100%;
	display: block;
}

.section-button span {
	display: block;
	text-align: center;
	padding-top: 5px;
	font-size: 20px;
	line-height: 25px;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	min-height: 75px;
}


@media screen and (max-height: 450px) {

	.section-button {
		max-width: 100%;
	}

	.section-button img {
		max-width: 35%;
		max-height: 200%;
		float: left;
	}

	.section-button span {
		float: left;
		/* line-height: 200px; */
		width: 65%;
	}

}



.status-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	font-size: 40px;
	line-height: 58px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

.status-bar-back span {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: block;
}

.status-bar-back {
	box-sizing: border-box;
	height: 100%;
	width: 64px;
	padding: 16px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.status-bar-back span {
	background-image: url('../i/back.svg');
	margin-top: -2px;
}

.answer-image-type-1 {
	float: left;
	height: 40%;
	width: 33.3%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 15px solid transparent;
	background-color: rgba(255, 255, 255, 0.8);
}

.bad-answer-clicked {
	opacity: 0.5;
	-webkit-transition: all 0.5s ease-out;
	-webkit-transform: scale(0.5);
	transition: all 0.5s ease-out;
	transform: scale(0.5);
}

.section-button, .answer-image-type-1, .question-type-2, .answer-wrapper-type-2 {
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: animation-show;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.4s;
	animation-name: animation-show;
}

.question-text-type-1 {
	display: table;
	clear: both;
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	border-top: 2px solid #FFF;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
}

.question-text-type-1 div {
	display: table-cell;
	text-align: center;
	padding: 0 10%;
	vertical-align: middle;
	overflow: auto;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

@media screen and (orientation: portrait) {
	.answer-image-type-1 {
		width: 50%;
		height: 26.66%;
	}
}

.answer-wrapper-type-2 {
	width: 100%;
	height: 33%;
	text-align: center;
	box-sizing: border-box;
	border-top: 2px solid #FFF;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
}

.question-type-2 {
	width: 100%;
	height: 67%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 14px solid transparent;
	border-bottom-width: 3em;
	box-sizing: border-box;
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
}

.question-type-2-text {
	position: absolute;
	bottom: -2em;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	text-align: center;
	width: 100%;
	color: #2CAA21;
}

.answer-div-type-2 {
	height: 100%;
	width: 25%;
	float: left;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	box-sizing: border-box;
	border: 10px solid transparent;
}

@media screen and (orientation: portrait) {
	.answer-div-type-2 {
		width: 50%;
		height: 50%;
	}
}








