.popup-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
}

.popup-container {
	opacity: 0;
}

@-webkit-keyframes show-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes show-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes show-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes show-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.popup-container-show-in {
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name:  show-in;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: center center;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name:  show-in;
	animation-fill-mode: forwards;
	transform-origin: center center;
}

.popup-container-show-out {
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name:  show-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: center center;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name:  show-out;
	animation-fill-mode: forwards;
	transform-origin: center center;
}