$itemSize: 76px;
$itemCount: 9;
$wrapperSize: 5 * $itemSize;
$columnSize: $itemCount * $itemSize;

$itemHeight: 76px;
$itemWidth: 138px;

.columns-wrapper {
  margin: 100px auto 10px;
  width: 1694 * 0.5px - 10;
  height: 1103 * 0.5px;
  //-webkit-box-sizing: border-box;
  //box-sizing: border-box;
  padding-left: 10px;
  position: relative;
}

.columns-wrapper:after {
  background-image: url(../i/frame.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.column-wrapper {
  width: $itemWidth;
  //height: $wrapperSize;
  float: left;
  overflow: hidden;
  background-color: #fff;
}

.columns-wrapper {

  .column-wrapper:nth-child(1) {
    height: $itemHeight * 3;
    margin-top: 163px;
  }

  .column-wrapper:nth-child(2) {
    height: $itemHeight * 4;
    margin-top: 126px;
  }

  .column-wrapper:nth-child(3) {
    height: $itemHeight * 5;
    margin-top: 87px;
  }

  .column-wrapper:nth-child(4) {
    height: $itemHeight * 6;
    margin-top: 49px;
  }

  .column-wrapper:nth-child(5),
  .column-wrapper:nth-child(6) {
    height: $itemHeight * 7;
    margin-top: 12px;
  }

}

.column-container {
  position: relative;
  //top: -$columnSize;
}

//.column {
  //text-decoration: none;
  //margin-top: -100%;
//}



/*
.a-roll-begin {
  @include prefix(animation-timing-function, cubic-bezier(0.5, 0, 1, 1));
  //@include prefix(animation-timing-function, ease-in);
  @include prefix(animation-duration, 2s);
  @include prefix(animation-iteration-count, 1);
  @include prefix(animation-name, roll-begin);
  @include prefix(animation-fill-mode, forward);
  @include prefix(transform-origin, center center);
}

@keyframes roll-begin {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0.99 * $columnSize, 0); // trust me, I am engineer
  }
}
*/

.a-roll {
  @include prefix(animation-timing-function, linear);
  @include prefix(animation-duration, 1s);
  @include prefix(animation-iteration-count, infinite);
  @include prefix(animation-name, k-roll);
  @include prefix(animation-fill-mode, none);
  @include prefix(transform-origin, center center);
}

@keyframes k-roll {
  0% {
    transform: translate3d(0, -$columnSize, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/*
.a-roll-end {
  @include prefix(animation-timing-function, ease-out);
  //@include prefix(animation-timing-function, ease-in);
  @include prefix(animation-duration, 2s);
  @include prefix(animation-iteration-count, 1);
  @include prefix(animation-name, roll-end);
  @include prefix(animation-fill-mode, both);
  @include prefix(transform-origin, center center);
}

@keyframes roll-end {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, $itemSize * 2, 0);
  }
}
*/







