.column-item {
  display: block;
  width: $itemWidth;
}

//.item-image-bonus,
//.item-image-wild,


.item-image-elli,
.item-image-lame,
.item-image-lion,
.item-image-metal-man,
.item-image-wild-small-1,
.item-image-wild-small-2 {
  //height: 102px;
  height: $itemHeight + 25;
  margin: 0 0 -25px;
}

.item-image-bonus,
.item-image-wild {
  height: $itemHeight * 3 + 25;
  //height: 202px;
  margin: 0 0 -25px;
}







