.column-item {
  display: block;
  width: $itemWidth;
}

.item-image-elli,
.item-image-lame,
.item-image-lion,
.item-image-metal-man,
.item-image-wild-small-1,
.item-image-wild-small-2 {
  height: 102px;
  margin: -25px 0;
}

.item-image-bonus,
.item-image-wild {
  height: 202px;
  margin: -25px 0;
}







