@mixin prefix($property, $value) {
  @each $prefix in ('-o-', '-ms-', '-moz-', '-webkit-', '') {
    #{$prefix + $property}: $value;
  }
}

@mixin prefix-property($property, $value) {
  @each $prefix in ('-o-', '-ms-', '-moz-', '-webkit-', '') {
    #{$property}: #{$prefix + $value};
  }
}

$mainTextColor: #666;
$borderColor: #D0D0D0;

.wrapper {
  padding: 20px 0 50px;
  width: 980px;
  margin: 50px auto;
  background-color: #f5f5f5;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  color: $mainTextColor;
}

.sections-wrapper {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.section-wrapper {
  display: inline-block;
  width: 200px;
  height: 248px;
  position: relative;
  border: 1px solid $borderColor;
  margin: 10px;
  cursor: pointer;
  color: $mainTextColor;
  text-decoration: none;
  @include prefix(transition, 0.1s box-shadow linear);

  &:hover {
    text-decoration: underline;
    @include prefix(box-shadow, 4px 4px 4px rgba(0, 0, 0, 0.5));
  }

}

.section-name {
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
}

.section-image-wrapper,
.section-image-wrapper-background {
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
}

.section-image-wrapper-background {
  margin: 5px auto;
  opacity: 0.7;
  @include prefix(background-size, cover);
  @include prefix(filter, blur(2px));

}

.section-image-wrapper {
  @include prefix(background-size, contain);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}