@font-face {
	font-family: "Courier New";
	src: url('../font/cour.otf');
}

body {
	font-size: 16px;
	line-height: 16px;
	font-family: "Courier New", Courier, monospace;
	color: #212121;
	background-position: center;
	background-attachment: fixed;
	background-color: #31AC80;

	background-image: -webkit-linear-gradient(top, #31c76f, #21a9e2, rgba(255, 112, 85, 0.82));
	background-image: -moz-linear-gradient(top, #31c76f, #21a9e2, rgba(255, 112, 85, 0.82));
	background-image: -ms-linear-gradient(top, #31c76f, #21a9e2, rgba(255, 112, 85, 0.82));
	background-image: -o-linear-gradient(top, #31c76f, #21a9e2, rgba(255, 112, 85, 0.82));
	background-image: linear-gradient(top, #31c76f, #21a9e2, rgba(255, 112, 85, 0.82));

}

a {
	color: #212121;
}

.width-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
}

.header {
	display: block;
	padding: 10px 0 6px;
	background-color: #FFF;
	border-bottom: 1px solid #cacaca;
	width: 100%;
	z-index: 1;
}

.header-fixed {
	position: fixed;
	z-index: 1;
}

.logo-link {
	display: block;
	float: left;
}

.logo-header {
	line-height: 53px;
	font-size: 53px;
	font-weight: normal;
}

.header-navigation {
	float: right;
	padding-top: 12px;
}

.header-navigation-link {
	float: left;
	padding: 10px 0;
	margin-left: 25px;
	font-size: 16px;
	line-height: 16px;
}

.company-promo {
	padding-bottom: 100px;
	text-align: center;
	color: #FFF;
	position: relative;
	z-index: 2;
	background-color: #2ABAA0;

	background-image: -webkit-linear-gradient(top, #2EC285, #22AAE1);
	background-image: -moz-linear-gradient(top, #2EC285, #22AAE1);
	background-image: -ms-linear-gradient(top, #2EC285, #22AAE1);
	background-image: -o-linear-gradient(top, #2EC285, #22AAE1);
	background-image: linear-gradient(top, #2EC285, #22AAE1);

}

.company-promo-name {
	padding-top: 60px;
	font-size: 200px;
	line-height: 200px;
	font-weight: normal;
}

.company-promo-description {
	font-size: 48px;
	line-height: 48px;
	margin-top: -34px;
	font-weight: normal;
}

.section {
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	background-color: #FFF;
	margin-bottom: 50px;
	padding-top: 32px;
	padding-bottom: 30px;
	display: block;
}

.section h3 {
	font-size: 38px;
	font-weight: normal;
	text-align: center;
	line-height: 38px;
	padding-bottom: 20px;
}

.section h4 {
	font-weight: normal;
	padding-bottom: 15px;
	padding-top: 20px;
	text-indent: 10px;
	font-size: 22px;
	line-height: 22px;
	text-transform: capitalize;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.section p,
.section li {
	padding-bottom: 10px;
	text-indent: 10px;
	font-size: 14px;
	line-height: 18px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.section li {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 0px;
	text-indent: 10px;
}

.section ol li {
	list-style-type: decimal;
}

.footer {
	border-top: 1px solid #cacaca;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	background-color: #fff;
	color: #666;
	padding: 15px 0 11px;
}

.link {
	color: #00c;
	border-bottom: 1px solid #00c;
}

.half {
	float: left;
	width: 50%;
}

.halt-left {
	padding-right: 10px;
}

.halt-right {
	padding-left: 10px;
}

.fix-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.all-app-wrapper {


}

.all-app-list-wrapper {

}

.all-app-info-wrapper {
	padding-top: 20px;
}

.app-info-wrapper h4 {
	text-align: center;
}

.list-app-item {
	float: left;
	width: 10%;
	opacity: 0.4;
	cursor: pointer;

	-webkit-transition: opacity linear 0.3s;
	-moz-transition: opacity linear 0.3s;
	-ms-transition: opacity linear 0.3s;
	-o-transition: opacity linear 0.3s;
	transition: opacity linear 0.3s;
}

.list-app-item:hover,
.list-app-item.active {
	opacity: 1;
}

.add-padding-image {
	padding: 5px;
}

.list-app-icon {
	display: block;
	width: 100%;
	-webkit-transition: transform linear 0.3s;
	-moz-transition: transform linear 0.3s;
	-ms-transition: transform linear 0.3s;
	-o-transition: transform linear 0.3s;
	transition: transform linear 0.3s;

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.list-app-item:hover .list-app-icon,
.list-app-item.active .list-app-icon {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.app-info-icon {
	float: left;
	width: 30%;
	margin: 0 10px 10px 0;
}

.app-info-wrapper {
	
}

.market-buttons-wrapper {
	text-align: center;
	font-size: 0;
	line-height: 0;
	padding-top: 25px;
	clear: both;
}

.market-button {
	width: 140px;
	display: inline-block;
	margin: 5px 50px;
	position: relative;
}

.market-button-image {
	width: 100%;
	height: auto;
}

.free-tick {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../i/free.png);

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

}

.all-app-on-store-wrapper {
	text-align: center;
}

.section .market-button-description {
	padding: 4px 4px 0;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 1px solid #212121;
	text-indent: 0;
}

@media only screen and (max-width: 980px) {

	.company-promo-name {
		font-size: 150px;
		line-height: 150px;
	}

	.company-promo-description {
		font-size: 38px;
		line-height: 38px;
		margin-top: -25px;
	}

	.company-promo {
		padding-bottom: 60px;
	}

	.company-promo-name {
		padding-top: 25px;
	}

}

@media only screen and (max-width: 640px) {

	.header-navigation {
		float: none;
		clear: both;
		text-align: center;
		padding-top: 0;
	}

	.header-navigation-link {
		float: none;
		margin: 0 20px;
		display: inline-block;
	}

	.header {
		padding: 0;
	}

	.company-promo-name {
		font-size: 100px;
		line-height: 100px;
	}

	.company-promo-description {
		font-size: 28px;
		line-height: 28px;
		margin-top: -15px;
	}

	.company-promo {
		padding-bottom: 35px;
	}

	.market-button {
		margin: 5px 20px;
	}

	.company-promo-name {
		padding-top: 15px;
	}

	.logo-link {
		display: none;
	}

	.all-app-list-wrapper {
		text-align: center;
		font-size: 0;
		line-height: 0;
	}

	.list-app-item {
		display: inline-block;
		float: none;
		width: 22.5%;
	}

}

@media only screen and (max-width: 480px) {

	.section {
		padding-top: 16px;
		padding-bottom: 15px;
	}

	.logo-link {
		float: none;
		text-align: center;
	}

	.header-navigation-link {
		float: none;
		margin: 0 3px;
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		padding: 5px 0;
	}

	.logo-header {
		line-height: 33px;
		font-size: 33px;
	}

	.company-promo-name {
		font-size: 67px;
		line-height: 67px;
	}

	.company-promo-description {
		font-size: 18px;
		line-height: 18px;
		margin-top: -9px;
	}

	.company-promo {
		padding-bottom: 15px;
	}

	.section h3 {
		font-size: 31px;
		line-height: 31px;
	}

	.section h4 {
		font-size: 20px;
		line-height: 20px;
	}

	.half {
		float: none;
		width: auto;
	}

	.halt-left,
	.halt-right {
		padding: 0;
	}

	.app-info-icon {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}

	.market-button {
		margin: 5px 10px;
	}

	.company-promo-name {
		padding-top: 5px;
	}

	.list-app-item {
		width: 25%;
	}

}

@media only screen and (max-width: 320px) {

}

.hidden {
	display: none;
}

































