.battle-view-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}

.battle-view-container {
	width: 100%;
	height: 100%;
	padding-bottom: 2rem;
	box-sizing: border-box;
}

.battle-view-inner-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.battle-view-status-bar {
	position: fixed;
	width: 100%;
	height: 2rem;
	left: 0;
	bottom: 0;
	z-index: 1;
	background-color: #666;
}

.view-disable {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2; /* z-i: 1 has .battle-view-status-bar */
}




