.battle-view-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}

.battle-view-container {
	width: 100%;
	height: 100%;
	padding-bottom: 3rem;
	box-sizing: border-box;
}

.battle-view-inner-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.view-disable {
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10; /* z-i: 3 has .battle-view-status-bar, z-1: 2 unit-store, z-1: 1 next turn button and etc */
}

.end-turn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: #666;
	padding: 0.5rem;
	z-index: 1;
}

.square {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.event-handler-wrapper,
.smoke-wrapper,
.units-wrapper,
.building-wrapper,
.main-event-handler {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.main-event-handler {
	z-index: 5;
}

.event-handler-wrapper {
	z-index: 4;
}

.smoke-wrapper {
	z-index: 3;
}

.units-wrapper {
	z-index: 2;
}

.building-wrapper {
	z-index: 1;
}




