.building {
	position: absolute;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

/* farms */
.building-farm-gray {
	background-image: url(../i/map/building/farm-gray.png);
}

.building-farm-green {
	background-image: url(../i/map/building/farm-green.png);
}

.building-farm-blue {
	background-image: url(../i/map/building/farm-blue.png);
}

.building-farm-red {
	background-image: url(../i/map/building/farm-red.png);
}

.building-farm-black {
	background-image: url(../i/map/building/farm-black.png);
}

.building-farm-destroyed {
	background-image: url(../i/map/building/farm-destroyed.png);
}
/* end farms */

/* castles */
.building-castle-gray {
	background-image: url(../i/map/building/castle-gray.png);
}

.building-castle-green {
	background-image: url(../i/map/building/castle-green.png);
}

.building-castle-blue {
	background-image: url(../i/map/building/castle-blue.png);
}

.building-castle-red {
	background-image: url(../i/map/building/castle-red.png);
}

.building-castle-black {
	background-image: url(../i/map/building/castle-black.png);
}
/* end castles */

/* smoke animation for farm */
.smoke-container .building-smoke {

	width: 100%;
	height: 100%;
	background-image: url(../i/map/building/smoke.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	margin-top: -50%;

	-webkit-animation-name: to-top, bg-shift;
	-webkit-animation-duration: 4s, 4s;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-direction: normal, normal;
	/* todo: remove animation for old native android browser */
	-webkit-animation-timing-function: ease-out, steps(4);
	-webkit-animation-fill-mode: forwards, forwards;

	animation-name: to-top, bg-shift;
	animation-duration: 4s, 4s;
	animation-iteration-count: infinite, infinite;
	animation-direction: normal, normal;
	/* todo: remove animation for old native android browser */
	animation-timing-function: ease-out, steps(4);
	animation-fill-mode: forwards, forwards;

}

@-webkit-keyframes to-top {

	from {
		-webkit-transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, -100%, 0);
	}

}

@-webkit-keyframes bg-shift {

	from {
		background-position: 0 100%;
	}

	to {
		background-position: 0 0;
	}

}

@keyframes to-top {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, -100%, 0);
	}

}

@keyframes bg-shift {

	from {
		background-position: 0 100%;
	}

	to {
		background-position: 0 0;
	}

}

/* smoke animation for farm end */

