.active-event-square {
	z-index: -1;
}

.active-square-mark {
	position: absolute;
	background-image: url(../i/ux/select-mark.png);
	width: 200%;
	height: 200%;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	left: -50%;
	top: -50%;

	-webkit-animation-name: change-bg;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: steps(2);
	-webkit-animation-fill-mode: forwards;

	animation-name: change-bg;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: steps(2);
	animation-fill-mode: forwards;

}

@-webkit-keyframes change-bg {

	from {
		background-position: 0 0;
	}

	to {
		background-position: 200% 0;
	}

}

@keyframes change-bg {

	from {
		background-position: 0 0;
	}

	to {
		background-position: 200% 0;
	}

}

.available-path,
.available-attack {
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	-webkit-transform: scale(0);
	transform: scale(0);

	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	z-index: 1;
}

.available-path {
	background-image: url(../i/ux/available-path.png);
}

.available-attack {
	background-image: url(../i/ux/available-attack.png);
}

.show-available-path .available-path,
.show-available-attack .available-attack {
	-webkit-transform: scale(1);
	transform: scale(1);
}

