.settings-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #242a45;
	z-index: 4;
}

.change-on-off-setting-wrapper {
	padding: 0.4rem 0;
}

.change-on-off-setting-wrapper .setting-name {
	margin-left: 2.5rem;
}

.change-on-off-setting-wrapper .setting-state {
	float: left;
}

.select-setting-wrapper {
	padding-top: 0.8rem;
}

.select-setting-wrapper .setting-name {
	padding-bottom: 0.2rem;
}

.select-setting-wrapper .setting-state {
	display: inline-block;
	padding: 0.5rem 1rem;
}


