.settings-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #242a45;
	z-index: 4;
}

.change-on-off-setting-wrapper {
	padding-bottom: 1rem;
}

.change-on-off-setting-wrapper .setting-name {
	margin-left: 3.5rem;
}

.change-on-off-setting-wrapper .setting-state {
	float: left;
}




