@font-face {
	font-family: 'main-font';
	src: url('../font/PressStart2P.ttf');
}

body {
	font-family: 'main-font';
	color: #cecece;
}

button {
	padding: 1rem !important;
	margin: 1rem !important;
}



