.rate-us-wrapper,
.rate-us-fade {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.rate-us-fade {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.rate-us-form {
	position: absolute;
	width: 80%;
	height: auto;
	left: 10%;
	top: 10%;
	z-index: 1;
	box-sizing: border-box;
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
	padding: 15px 10px;
	color: #212121;
	font-family: Arial, sans-serif;
}

.rate-us-form.blurred {
	opacity: 0.5;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.button-is-disabled {
	opacity: 0.4;
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.rate-us-header {
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 15px;
}

.stars-wrapper {
	display: block;
	box-sizing: border-box;
	padding-bottom: 15px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.rate-us-star {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../i/rate-us-sprite.svg);
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-position: 0 0;
	margin: 0 5px;
}


.rate-us-star.active {
	background-position: -32px 0;
}

.rate-us-send-feedback {
	padding-bottom: 15px;
}

.rate-us-send-textarea {
	display: block;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	padding: 4px;
	margin-bottom: 15px;
}

.rate-us-send-button {
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-image: -webkit-linear-gradient(top, #ededed, #dfdfdf );
	background-image: linear-gradient(top, #ededed, #dfdfdf );
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding: 5px 15px;
	width: 50%;
	min-width: 110px;
	display: block;
	margin: 0 auto;

}

.rate-us-send-button:active {
	background: -webkit-linear-gradient(top, #dfdfdf, #ededed);
	background: linear-gradient(top, #dfdfdf, #ededed);
	background-color: #dfdfdf;
	position: relative;
	top: 1px;
}

.hidden.rate-us-send-button {
	display: none;
}

.focusTextArea .rate-us-header {
	display: none;
}