<!DOCTYPE html>
<html>
<head>

	<!-- подключаем стили Mocha, для отображения результатов -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css">
	<!-- подключаем библиотеку Mocha -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js"></script>
	<!-- настраиваем Mocha: предстоит BDD-тестирование -->
	<script>
		mocha.setup({
			ui: 'bdd'
		});
	</script>

	<!-- подключаем chai -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js"></script>
	<!-- в chai есть много всего, выносим assert в глобальную область -->
	<script>
		var assert = chai.assert;
	</script>
	<script>
		function pow(x, n) {
			return Math.pow(x, n);
		}
	</script>

	<title>game</title>

	<!-- mobile device -->
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

	<!-- styles -->
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- bingo -->
	<script src="js/bingo/vata.js" type="text/javascript"></script>
	<script src="js/bingo/mydown.js" type="text/javascript"></script>
	<script src="js/bingo/putin.js" type="text/javascript"></script>
	<script src="js/bingo/soccer.js" type="text/javascript"></script>
	<script src="js/bingo/bullshit.js" type="text/javascript"></script>
	<script src="js/bingo/agile.js" type="text/javascript"></script>

	<!-- langs -->
	<script src="js/lang/en.js" type="text/javascript"></script>
	<script src="js/lang/ru.js" type="text/javascript"></script>

	<!-- libs -->
	<script src="js/lib/bro.js" type="text/javascript"></script>
	<script src="js/lib/underscore.js" type="text/javascript"></script>
	<script src="js/lib/backbone.js" type="text/javascript"></script>

	<!-- views -->
	<script src="js/object/main-view.js" type="text/javascript"></script>
	<script src="js/object/title/title-view.js" type="text/javascript"></script>
	<script src="js/object/bingo/bingo-view.js" type="text/javascript"></script>
	<script src="js/object/send-mail-form/send-mail-form-view.js" type="text/javascript"></script>

	<!-- services -->
	<script src="js/service/info.js" type="text/javascript"></script>
	<script src="js/service/lang.js" type="text/javascript"></script>
	<script src="js/service/template-master.js" type="text/javascript"></script>

	<!-- main -->
	<script src="js/main.js" type="text/javascript"></script>

	<!-- ads -->
	<script src="js/service/android-ads.js" type="text/javascript"></script>

</head>
<body>

<div class="wrapper js-wrapper">



</div>

<script type="text/x-template" data-name="title">

<h1 class="bingo-greeting"><%= lang.greeting %></h1>

	<div class="bingo-items-wrapper">
		<% for (var key in bingo) { %>
			<% if (bingo.hasOwnProperty(key)) {%>
				<div class="js-bingo-preview bingo-preview" data-name="<%= key %>">
					<%= bingo[key].name[lang.name] %>
				</div>
			<% }; %>
		<% }; %>

		<a href="mailto:web.best.master@gmail.com?subject=Bingo!" class="bingo-preview js-send-your-bingo">
			<%= lang.sendYourBingo %>
		</a>

		<% if (!info.adsFree) { %>
			<div class="bingo-preview js-remove-ads" style="display: none;">
				<%= lang.removeAds %>
			</div>
		<% }; %>

	</div>

</script>

<script type="text/x-template" data-name="bingo">

	<h1 class="bingo-greeting"><%= name.ru %></h1>

	<div class="table js-words-tablet words-tablet">
		<div class="table-row">
			<% words.ru.forEach(function(word, index){ %>
				<% if (!(index % 5) && index) { %>
					</div><div class="table-row">
				<% }; %>
				<div class="table-cell table-cell-word js-table-cell-word">
					<div class="js-bingo-word bingo-word">
						<%= word %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>

	<div class="info js-info"></div>
	<div class="hidden js-description description">
		<div class="description-text">
			<%= description.ru %>
		</div>
	</div>

	<div class="js-end-game-alert-wrapper end-game-alert-wrapper">
		<div class="table end-game-table">
			<div class="table-row">
				<div class="table-cell">
					<div class="end-bingo-alert-wrapper js-end-bingo-alert-wrapper js-back"><%= name.ru %>!</div>
				</div>
			</div>
		</div>

	</div>

	<div class="js-back bingo-back-button"></div>

</script>

<script type="text/x-template" data-name="sendMail">

	<h1 class="bingo-greeting"><%= lang.createBingo %></h1>


	<div class="js-send-mail-form send-mail-form">

		<p class="input-description"><%= lang.nameOfNewBingo %></p>

		<input type="text" class="form-input-text js-new-bingo-name" disabled="disabled"/>

		<p class="input-description"><%= lang.wordsOfNewBingo %></p>

		<textarea class="form-text-area js-new-bingo-words" disabled="disabled"></textarea>

		<p class="input-description"><%= lang.descriptionOfNewBingo %></p>

		<textarea class="form-text-area js-new-bingo-description" disabled="disabled"></textarea>

		<div class="bingo-preview js-send-mail-button"><%= lang.send %></div>

	</div>

	<div class="js-back bingo-back-button"></div>

</script>

<!-- в этом скрипте находятся спеки -->
<script src="test.js"></script>

<!-- в элементе с id="mocha" будут результаты тестов -->
<div id="mocha"></div>

<!-- запустить тесты! -->
<script>
	mocha.checkLeaks();
	mocha.run();
</script>

</body>
</html>