@font-face {
  font-family: 'origram';
  src: url('../font/origram.otf');
}

@font-face {
  font-family: 'icons';
  src: url('../font/icomoon.ttf');
}

body {
  background-image: url(../i/main-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.wrapper {
  color: $textColor;
  font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  line-height: 125%;
}

.save-atoms {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}

.saved-atoms-name-input {
  position: absolute;
  z-index: 1;
  left: 130px;
  top: 30px;
}

.tangram-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title-game-name {
  font-family: origram, "Courier New", Courier, monospace;
  text-align: center;
  color: #fff;
  letter-spacing: 0.45rem;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  //transform: translate3d(0, -620%, 0);
  @extend .luxury-3d-text;
}

.screen--button-wrapper_split {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.screen--button-wrapper_split_first {
  @extend .screen--button-wrapper_split;
  top: 0;
}

.screen--button-wrapper_split_second {
  @extend .screen--button-wrapper_split;
  top: 50%;
}

.screen--button {
  width: 45%;
  margin: 0 auto 0.55rem;
  padding: 0.7rem;
  background-color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.15rem;
  @extend .luxury-3d-button;
}

.screen--button:active {
  @extend .luxury-3d-button_active;
}

.scroll-area-content {
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding-bottom: 3rem;
}

.section-preview {
  width: 5rem;
  display: inline-block;
  //height: 6rem;
  margin: 0.45rem;
  padding: 0.2rem 0.2rem 0.4rem;
  background-color: #fff;
  text-align: center;
  position: relative;
  @extend .luxury-3d-button;
}

.section-preview-done-info {
  font-size: .7rem;
  line-height: .7rem;
  text-align: right;
  margin: -0.1rem 0 -0.4rem;
  position: relative;
  z-index: 1;
  @extend .stroked-text;
}

.section-preview:active {
  @extend .luxury-3d-button_active;
}

.section-preview-tick {
  @extend .section-preview-done-info;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: icons;
}

.section-preview-no-tick {
  opacity: 0;
}

.section-preview-image {
  width: 5rem;
  height: 5rem;
  display: block;
}

.section-preview-name {
  font-size: 0.9rem;
  line-height: 1rem;
}

.section-header {
  @extend .luxury-3d-text;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  //@include prefix(box-sizing, border-box);
}

.section-sub-header {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 0.3rem;
  @extend .luxury-3d-text;
}

.section-header-wrapper {
  padding: 0.5rem 0;
  margin: 0 3rem;
}

.screen-disable {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  //background-color: rgba(0, 0, 0, 0.5);
}

// menu button
.tangram-menu-button {
  position: absolute;
  width: 3rem;
  height: 2.2rem;
  top: 0.6rem;
  right: 0.6rem;
  z-index: 1;
  opacity: 0.75;
  @extend .luxury-3d-button;
  @include prefix(transition, opacity ease-out 0.3s);
}

.tangram-menu-button_hidden {
  opacity: 0;
}

.tangram-menu-button-line {
  position: absolute;
  width: 70%;
  left: 15%;
  height: 10%;
  background-color: $textColor;
  border-radius: 1rem;
  @include prefix(transition, all ease-out 0.2s);
}

.tangram-menu-button-line_0 {
  top: 20%;
  @extend .tangram-menu-button-line;
}

.tangram-menu-button-line_1 {
  top: 45%;
  @extend .tangram-menu-button-line;
}

.tangram-menu-button-line_2 {
  top: 70%;
  @extend .tangram-menu-button-line;
}

.tangram-menu--header {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.tangram-menu-button_active {

  .tangram-menu-button-line_0 {
    @include prefix(transform, translate3d(0, 220%, 0) rotate(45deg));
  }

  .tangram-menu-button-line_1 {
    opacity: 0;
    //@include prefix(transform, translate3d(100%, 0, 0));
  }

  .tangram-menu-button-line_2 {
    @include prefix(transform, translate3d(0, -270%, 0) rotate(-45deg));
  }

}

.screen-back {
  @extend .luxury-3d-text;
  font-family: icons;
  left: 0;
  top: 0;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  text-align: center;
  width: 1rem;
  float: left;
}

.screen-back:active {
  text-shadow: none;
}

.tans-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tan {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  @include prefix(background-size, 100% 100%);
}

