@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url(HelveticaNeueCyr-UltraLight.otf);
}

html, body {
	height: 100%;
	width: 100%;
	font-family: HelveticaNeueCyr, "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	color: #333;
}

.bingo-greeting {
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 13px 40px;
	border-bottom: 1px solid #8e8e93;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.bingo .bingo-greeting {
	text-transform: capitalize;
	margin-bottom: 3px;
}

.bingo-items-wrapper {
	padding: 25px 15px 150px;
}

.bingo-preview {
	border: 1px solid #8e8e93;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
	font-size: 16px;
	line-height: 16px;
	margin: 0 auto 16px;
	width: 58%;
	display: block;
	color: inherit;
}

.bingo-items-wrapper .bingo-preview:last-child {
	margin-bottom: 0;
}

.words-tablet {
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.bingo-word {
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	position: relative;
	z-index: 1;
	}

.table-cell-word {
	word-break: break-word;
	position: relative;
	box-sizing: border-box;
	padding: 3px;
}

.table-cell-word.checked:before {
	content: '';
	display: block;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	background-image: url(../img/cancel.svg);
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center center;
	z-index: 2;
	opacity: 0.9;
}

.table-cell-word:after {
	content: '';
	display: block;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
	/* -webkit-border-radius: 12px; */
	/* border-radius: 12px; */
	box-sizing: border-box;
	border: 1px solid #000000;
}

.bingo-back-button,
.info {
	top: 0;
	left: 0;
	width: 46px;
	height: 45px;
	background-image: url(../img/back.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 35px 20px;
	background-size: 35px 20px;
	position: absolute;
	z-index: 3;
}

.info {
	background-image: url(../img/info.svg);
	left: auto;
	right: 0;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
}


.end-game-alert-wrapper {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.end-game-alert-wrapper.show-alert {
	display: block;
}

.end-game-table {
	width: 100%;
	height: 100%;
	text-align: center;
}

.show-alert .end-game-table {
	-webkit-animation-name: show-set-bg;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: forward;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes show-set-bg {
	0% {
		background-color: rgba(255, 255, 255, 0);
	}

	100% {
		background-color: rgba(255, 255, 255, 0.9);
	}
}

.end-bingo-alert-wrapper {
	width: 85%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #8e8e93;
	border-radius: 5px;
	font-size: 40px;
	line-height: 50px;
	text-transform: capitalize;

	-webkit-animation-name: show-alert;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: forward;
	-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes show-alert {
	0% {
		-webkit-transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

.blur .bingo-greeting,
.blur .words-tablet {
	-webkit-filter: blur(1px);
	filter: blur(1px);
}

.description {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff;
	padding-top: 47px;
}

.description-text {
	padding: 30px;
	font-size: 16px;
	line-height: 16px;
}


@media only screen and (min-height: 700px) {

	.bingo-word {
		font-size: 23px;
		line-height: 25px;
	}

	.bingo-preview {
		font-size: 22px;
		line-height: 22px;
	}

}

.send-mail-form {
	padding: 15px 15px 150px;
}

.input-description {
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 3px;
	padding-left: 8px;
}

.form-input-text,
.form-text-area {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-bottom: 18px;
	padding: 4px;
	font-size: 16px;
	line-height: 19px;
	color: #333;
}

.form-text-area {
	min-height: 100px;
}

.button-is-disabled {
	opacity: 0.4;
}


@media only screen and (orientation: landscape) {

	.bingo-greeting {
		display: none;
	}

	.send-mail .bingo-greeting {
		display: block;
	}

	.description-text {
		padding: 0 70px;
		margin-top: -25px;
	}

}