@mixin prefix($property, $value) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$prefix + $property}: $value;
  }
}

@mixin prefix-property($property, $value) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$property}: #{$prefix + $value};
  }
}













