/*
.effect-renderer,
.game-renderer,
.frame-renderer {
  //width: 100%;
  position: absolute;
  top: 0;
}

.game-renderer {
  z-index: 0;
}

.frame-renderer {
  z-index: 1;
}

.effect-renderer {
  z-index: 2;
}

*/


.game-renderer {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

