body {
	padding: 10px;
}

.player {

}

.track,
.current-track {
	padding: 4px 4px 4px 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
}

.track:after,
.current-track:after {
	content: attr(data-duration);
	display: block;
	float: right;
}

.active-track {
	background-color: #AF3434;
	color: #fff;
	padding-left: 4px;
}

.current-track {
	background-color: #ffcf9d;
	text-align: center;
}

.current-track:empty {
	display: none;
}

.drop-zone {
	background-color: #9BCF9B;
	padding: 34px 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	text-align: center;
}