.flag {

	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	border-radius: 0.4rem;
}

.flag-bg-en {
	background-image: url(../i/flag/flag-en.svg);
}

.flag-bg-ru {
	background-image: url(../i/flag/flag-ru.svg);
}


