.flags-wrapper {
	height: 1.8rem;
	position: fixed;
	right: 0;
	z-index: 1;
}

.flag {
	width: 3.04rem;
	height: 1.6rem;
	float: left;
	margin: 0.2rem 0.2rem 0;
	opacity: 0.5;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	border-radius: 0.2rem;
}

.flag-active {
	opacity: 1;
}

.flag-bg-en {
	background-image: url(../i/flag/flag-en.svg);
}

.flag-bg-ru {
	background-image: url(../i/flag/flag-ru.svg);
}

.show-info {
	position: fixed;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5);
	color: #53A90E;
	z-index: 1;
	background-image: url(../i/info.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 70% auto;
	background-size: 70% auto;
	width: 3rem;
	height: 3rem;
}

.section-buttons-wrapper {
	text-align: center;
	position: fixed;
	top: 50%;
	width: 100%;
	margin-top: -5rem;
	z-index: 0;
}

.section-button {
	position: relative;
	display: inline-block;
	width: 7rem;
	height: 13rem;
	overflow: hidden;
	margin: 0 0.5rem;
}

.section-icon {
	width: 96%;
	display: block;
	border: 0.5rem solid #C3C8BE;
	box-sizing: border-box;
	border-radius: 1rem;
	background-color: #fff;
	padding: 0.3rem;
	margin: 0 auto 0.3rem;
	box-shadow: 0.05rem 0.05rem 0.1rem #000;
}

.section-name {
	font-size: 1.1rem;
	text-shadow: 0.05rem 0.05rem 0.1rem #000;
}

.status-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5rem;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	box-sizing: border-box;
}

.status-bar-back {
	background-repeat: no-repeat;
	background-image: url(../i/back.svg);
	background-position: center center;
	height: 100%;
	width: 2.5rem;
	-webkit-background-size: auto 50%;
	background-size: auto 50%;
}

.section-wrapper-padding {
	padding: 0.4rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.help-info-wrapper {
	height: 100%;
	background-color: #c00;
	padding-top: 2.5rem;
	box-sizing: border-box;
}

.section-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.white-bg {
	background-color: rgba(255, 255, 255, 0.8);
}

.question-wrapper-type-1 {
	height: 100%;
}

.question-wrapper-type-2 {
	height: 100%;
	box-sizing: border-box;
	padding-top: 2.5rem;
}

.question-answers-wrapper-type-1 {
	height: 100%;
	box-sizing: border-box;
	padding: 2.5rem 0 2.9rem;
}

.question-answers-wrapper-type-2 {
	height: 100%;
	box-sizing: border-box;
	padding: 2.6rem 0 0;
}

.answer-image-type-1 {
	float: left;
	width: 50%;
	height: 33.333333%;
	background-color: rgba(255, 255, 255, 0.8);
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	border: 1rem solid transparent;
	box-sizing: border-box;
	background-position: center center;
}

@media screen and (orientation: landscape) {
	.answer-image-type-1 {
		width: 33.333333%;
		height: 50%;
	}
}

.question-wrapper-text-type-1 {
	position: absolute;
	width: 100%;
	height: 3rem;
	bottom: 0;
	text-align: center;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	display: table;
	z-index: 1;
}

.question-text-type-1 {
	display: table-cell;
	text-align: center;
	padding: 0 1rem;
	vertical-align: middle;
	overflow: auto;
	font-weight: bold;
	font-size: 1.1rem;
	text-shadow: 0.05rem 0.05rem 0.1rem #000;
	box-sizing: border-box;
}

.question-text-type-2 {
	position: absolute;
	bottom: -1.3rem;
	font-size: 1.3rem;
	text-align: center;
	width: 100%;
	color: #2CAA21;
	text-shadow: 0.05rem 0.05rem 0.1rem #000;
}

.bad-answer-clicked {
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	opacity: 0.3;
}

.good-answer-popup,
.bad-answer-popup {
	width: 90%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 75% 75%;
	background-size: 75% 75%;
	margin: 0 auto;
}

.good-answer-popup {
	background-image: url(../i/good.svg);
}

.bad-answer-popup {
	background-image: url(../i/bad.svg);
}

.question-type-2 {
	width: 100%;
	height: 70%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0.7rem solid transparent;
	border-bottom-width: 2rem;
	box-sizing: border-box;
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
}

.answer-wrapper-type-2 {
	width: 100%;
	height: 30%;
	text-align: center;
	box-sizing: border-box;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(131, 182, 216, 0.9));
}

.answer-item-type-2 {
	height: 100%;
	width: 25%;
	float: left;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 0.2rem solid transparent;
}

.title-remove-ads,
.section-remove-ads {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-image: url(../i/ads-free.svg);
	-webkit-background-size: 80% auto;
	background-size: 80% auto;
	background-position: center center;
	-webkit-border-radius: 0.3rem;
	border-radius: 0.3rem;
}

.title-remove-ads {
	height: 2.2rem;
	width: 2.2rem;
	right: 0.2rem;
	bottom: 0.2rem;
}

.section-remove-ads {
	height: 2.2rem;
	width: 2.2rem;
	right: 0.55rem;
	top: 0.55rem;
}

.app-store-link {
	position: absolute;
	background-image: url(../i/app-store-button.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 4rem;
	top: 1.5rem;
	left: 0;
	background-size: 90% auto;
	background-position: center center;
	z-index: 1;
}









