@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('../font/OpenSans-Light.ttf');
}

body,
input {
	font-family: 'Open Sans', monospace;
	color: #1c1c1c;
}

input {
	background-color: transparent;
}

body {
	background-color: #f3f3f3;
}

.image-container {
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	background-color: #fff;
}

.user-nick {
	display: block;
	border: none;
	float: left;
	padding: 1.2rem 0 0.8rem;
	line-height: 1.3rem;
	font-size: 1.3rem;
}

.user-nick::-webkit-input-placeholder {
	text-align: center;
	line-height: 1.3rem;
	font-size: 1.3rem;
}

.user-nichosi-count {
	float: right;
	border-left: 1px solid #333;
	line-height: 3.3rem;
	font-size: 1.5rem;
}

.user-nick,
.user-nichosi-count {
	height: 3.3rem;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
}

.leader-board-wrapper {
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	padding-top: 3.3rem;
	z-index: -1;
}

.leader-board-table {
	width: 100%;
}

.leader-board-row {
	border-top: 1px solid #ccc;
}

.leader-board-row-odd {
	background-color: #fff;

}

.leader-board-row-even {
	background-color: #f9f9f9;
}

.leader-board-index,
.leader-board-name,
.leader-board-count {
	line-height: 3.3rem;
	font-size: 1.3rem;
}

.leader-board-index {
	text-align: center;
	width: 3.3rem;
}

.leader-board-name {
	line-height: 1.3rem;
	padding-bottom: 1rem;
}

.leader-board-count {
	padding: 0 1.5rem 0 1rem;
	text-align: right;
}

.no-connection {
	text-align: center;
	font-size: 1.4rem;
	padding: 1.5rem;
}

.nick-error-text {
	position: absolute;
	top: 3.3rem;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding: 0.7rem;
	color: #f3f3f3;
	background-color: #e0483e;
	z-index: 1;
	line-height: 1rem;
	font-size: 0.8rem;
}


