@font-face {
	font-family: 'MayonezBlack-Italic';
	font-weight: bold;
	src: url(../font/MayonezBlack-Italic.otf) format('opentype');
}


.popup-title .popup-text,
.story-title {
	font-family: 'MayonezBlack-Italic', cursive;
	color: #959595;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding-top: 1.1rem;
	margin: 0 3.7rem;
	width: auto; /* override .ellipsis */
}

.popup-title .popup-text {
	margin: 0 auto;
	padding-top: 0;
	width: auto; /* override .ellipsis */
}

.wrapper {
	background-image: url(../i/bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.header {
	background-repeat: repeat-x;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	height: 3.4rem;
	position: absolute;
	width: 100%;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.story-by-story-wrapper {
	float: left;
	margin-left: 1.2rem;
}

.header-remove-ads {
	float: right;
	margin-right: 1.2rem;
}

.header-button {
	position: relative;
	background-color: rgba(188, 188, 188, 0.68);
	width: 3.1rem;
	height: 1.8rem;
	margin-top: 0.5rem;
	z-index: 1;
	border-radius: 1rem;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.active-on-off-indicator {
	background-repeat: no-repeat;
	background-color: #fff;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	margin: 0.1rem;
	background-position: center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
	-webkit-transition: -webkit-transform 0.3s linear;
	transition: transform 0.3s linear;
}

.header-button.active-on-off {
	background-color: rgba(39, 148, 225, 0.74);
}

.header-button.active-on-off .active-on-off-indicator {
	-webkit-transform: translate3d(1.3rem, 0, 0);
	transform: translate3d(1.3rem, 0, 0);
}

.story-by-story-bg {
	background-image: url(../i/bg-repeat.svg);
}

.remove-ads-bg {
	background-image: url(../i/remove-ads-bg.png);
}

.header-button-text {
	position: absolute;
	z-index: 0;
	top: 2.5rem;
	font-size: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	width: 5.6rem;
}

.header-button-text-left {
	left: 0;
}

.header-button-text-right {
	right: 0;
}

.header-title {
	background-image: url(../i/app-name.png);
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	background-position: center center;
	z-index: 0;
	-webkit-background-size: auto 49%;
	background-size: auto 49%;
}

.share-link-wrapper {
	text-align: center;
	width: 100%;
	line-height: 0;
	font-size: 0;
	padding: 0 0 1rem;
	margin-top: 1rem;
}

.share-link {
	display: block;
	width: 1.4rem;
	height: 1.4rem;
	margin: 1rem 0 0 1rem;
}

.share-link-button {
	display: inline-block;
	width: 3.4rem;
	height: 3.4rem;
	background-color: #fff;
	border-radius: 3rem;
	margin: 0 0.8rem 0.6rem;
	box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.books-list-wrapper {
	padding: 5rem 0;
}

.scroll-area-content {
	padding: 5.6rem 0 6rem;
}

.title-book-wrapper-preview {
	float: left;
	width: 7.6rem;
	height: 8rem;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
	margin: 0 0.6rem;
	position: relative;
	border-radius: 0.2rem;
}

.swiper-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

.back-page-wrapper {
	padding: 4.4rem 1rem 6rem;
}

.book-page-image {
	z-index: 0;
	display: block;
	max-width: 90%;
	max-height: 90%;
	margin: 0 auto;
	width: auto;
	height: auto;
	box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	position: relative;
	border: 0.1rem solid #C0C0C0;
}

.book-page-image-with-text {
	display: block;
	width: 100%;
	margin-bottom: 0.7rem;
	border-radius: 0.2rem;
}

.book-pause-button,
.book-home-button,
.book-play-button {
	position: absolute;
	width: 3rem;
	height: 3rem;
	z-index: 1;
	-webkit-background-size: 58% auto;
	background-size: 58% auto;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0.2rem;
}

.book-play-button,
.book-pause-button {
	right: 0.7rem;
}

.book-pause-button {
	background-image: url(../i/pause.svg);
}

.book-play-button {
	background-image: url(../i/play.svg);
}

.book-home-button {
	left: 0.7rem;
}

.book-home-button {
	background-image: url(../i/back.svg);
}

.back-page-text {
	padding: 0.9rem 1rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	background-color: #FFFFFF;
	box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	border: 0.1rem solid #C0C0C0;
	font-family: "Times New Roman", serif;
	border-radius: 0.2rem;
}

.popup-text {
	text-align: center;
	margin: 0 1rem;
}

.page-text {
	z-index: 0;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 0.7rem;
	/*color: #f0f0f0;*/
	line-height: 1.4rem;
	font-size: 1.1rem;
}

.shelf {
	background-image: url(../i/shelf.png);
	background-repeat: no-repeat;
	/*-webkit-background-size: contain;*/
	/*background-size: contain;*/
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;

	clear: both;
	position: relative;
	z-index: 0;
	/*max-width: 20.8rem;*/
	/*width: 90%;*/
	margin: 0 auto;
	height: 5.5rem;
	margin-bottom: -1rem;
}

.shelf-number-1 {
	width: 8.8rem;
}

.shelf-number-2 {
	width: 17.6rem;
}

.shelf-number-3 {
	width: 26.4rem;
}

.shelf-number-4 {
	width: 35.2rem;
}

.shelf-number-5 {
	width: 44rem;
}

.bg-inner-page {
	background-color: rgba(255, 255, 255, 0.68);
}

.book-title-text {
	position: absolute;
	z-index: 0;
	padding: 0.3rem 0.2rem 0.2rem;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
	font-size: 0.9rem;
	line-height: 1rem;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 0;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
}

.book-titles-wrapper-clicked .book-title-text {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

