.main-form {
	display: block;
	padding-bottom: 28px;
}

.main-form-group-wrapper {
	display: block;
	width: 330px;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.main-form-group-wrapper-required:after {
	content: '*';
	position: absolute;
	display: block;
	font-size: 13px;
	line-height: 13px;
	right: -11px;
	bottom: 21px;
	color: #f00;
}

.main-form-input-name {
	font-size: 14px;
	line-height: 15px;
	padding: 0 2px 2px 4px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.main-form-input {
	font-size: 13px;
	line-height: 16px;
	padding: 6px 5px 6px 9px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #dcdcdc;
}

.main-form-checkbox-name {
	font-size: 14px;
	line-height: 15px;
	padding: 3px 2px 2px 5px;
	display: block;
	margin-left: 20px;
}

.main-form-checkbox {
	display: none;
}

.main-form-checkbox-state {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	border: 1px solid #dcdcdc;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

/* trust me */
.main-form-checkbox:checked + .main-form-checkbox-state {
	background-image: url(../i/tick.png);
}

.main-form-select {
	font-size: 13px;
	line-height: 16px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #dcdcdc;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
	height: 30px;
	background-color: transparent;
	padding-left: 9px;
	z-index: 1;
	position: relative;
}

.main-form-select-arrow {
	position: absolute;
	z-index: 0;
	right: 8px;
	bottom: 8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #a2a2a2;
}

.main-form-select:after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	background-color: #c00;
}

.main-form-select:focus,
.main-form-input:focus {
	outline-color: #3b99fc;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}


.main-form .goods-item-required-submit {
	float: none;
	width: 330px;
	clear: both;
	margin-top: 17px;
}





