.goods-short-name {
	font-size: 17px;
	line-height: 17px;
	padding: 11px 0 0 32px;
	color: #000;
}

.goods-left-side {
	float: left;
	width: 364px;
}

.goods-item-image {
	display: block;
	width: 320px;
	height: 320px;
	padding: 8px 0 0 5px;
}

.goods-right-side {
	margin: 0 18px 0 364px;
	padding-top: 9px;
}

.goods-item-name {
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 15px;
}

.goods-item-paragraph {
	font-size: 13px;
	line-height: 16px;
	padding-bottom: 16px;
	color: #000;
}

.goods-item-table {
	display: block;
	width: 100%;
}

.goods-table-item-key,
.goods-table-item-value {
	font-size: 12px;
	line-height: 16px;
}

.goods-table-item-key {
	padding-right: 14px;
	font-weight: bold;
}

.goods-table-item-value {

}

.goods-item-selected-text-1 {
	color: #882416;
}

.goods-item-selected-text-2 {
	color: #c4211a;
}

.goods-item-status-wrapper {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin: 32px 17px 18px 0;
	padding: 21px 0 19px;
}

.goods-item-status-state,
.goods-item-status-type {
	font-size: 12px;
	line-height: 20px;
	color: #000;
}

.goods-item-status-state {

}

.goods-item-status-state-value {
	color: #729501;
}

.goods-item-status-type {

}

.goods-item-status-category {
	text-decoration: none;
	color: #099eea;
	border-bottom: 1px solid #099eea;
}

.goods-item-status-category:hover {
	border-bottom-color: transparent;
}

.goods-item-status-cost {
	float: right;
	font-size: 18px;
	line-height: 18px;
	padding-bottom: 2px;

}

.goods-item-status-cost-old {
	float: right;
	clear: right;
	font-size: 13px;
	line-height: 18px;
	text-decoration: line-through;
	color: #d3d3d3;
}

.add-goods-to-favorite {
	background-repeat: no-repeat;
	background-image: url(../i/favorite.png);
	background-size: 13px 12px;
	font-size: 12px;
	line-height: 12px;
	padding: 5px 10px 5px 20px;
	background-position: 0 5px;
	cursor: pointer;
	float: left;
	margin-top: 8px;
}

.add-goods-to-favorite:hover {
	text-decoration: underline;
}

.goods-item-required-wrapper {
	float: right;
	height: 44px;
}

.goods-item-required-sign {
	font-size: 12px;
	line-height: 12px;
	color: #000;
	float: right;
	padding: 18px 16px 0 0;
}

.goods-item-required-inputs-wrapper {
	height: 42px;
	float: right;
	border: 1px solid #ccc;
	border-radius: 1px;
	min-width: 10px;
	border-right: none;
}

.goods-item-required-counter-changer-increase,
.goods-item-required-counter-changer-decrease,
.goods-item-required-input {
	float: left;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.goods-item-required-counter-changer-increase,
.goods-item-required-counter-changer-decrease {
	color: #c4211a;
	padding: 12px 6px;
	width: 13px;
	cursor: pointer;
}

.goods-item-required-counter-changer-increase {
	text-align: right;
}

.goods-item-required-counter-changer-decrease {
	text-align: left;
	text-indent: 4px;
}


/*.goods-item-required-input::-webkit-inner-spin-button,*/
/*.goods-item-required-input::-webkit-outer-spin-button {*/
	/*-webkit-appearance: none;*/
	/*margin: 0;*/
/*}*/

.goods-item-required-input {
	border: none;
	padding: 13px 0 11px;
	width: 32px;
	position: relative;
	left: 17px;
	z-index: 0;
	margin-left: -17px;
	text-align: center;
}

.goods-item-required-submit {
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	padding: 13px 0 15px;
	background-color: #de2e2e;
	text-transform: uppercase;
	background-image: -webkit-linear-gradient(top, #ff4f4f, #b60605);
	background-image: -moz-linear-gradient(top, #ff4f4f, #b60605);
	background-image: -ms-linear-gradient(top, #ff4f4f, #b60605);
	background-image: linear-gradient(top, #ff4f4f, #b60605);
	float: right;
	width: 200px;
	font-weight: bold;
	cursor: pointer;
}





























