.header {
	border-top: #c4211a 4px solid;
	border-bottom: #e05b5b 3px solid;
	height: 178px;
	background-image: url(../i/bg-1.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.logo {
	background-image: url(../i/logo.png);
	background-repeat: no-repeat;
	height: 87px;
	width: 264px;
	float: left;
	background-size: 100%;
	color: transparent;
	margin: 30px 0 0 12px;
}

.header-slogan {
	color: #7d858b;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	float: left;
	margin: 57px 0 0 63px;
	letter-spacing: -0.5px;
	width: 220px;
}

.header-search-wrapper {
	float: left;
	padding: 49px 0 0 44px;
	width: 225px;
}

.header-search-input {
	font-size: 12px;
	line-height: 15px;
	display: block;
	border: 1px solid #dcdcdc;
	background-image: url(../i/icon-search.png);
	background-repeat: no-repeat;
	padding: 6px 30px 6px 12px;
	background-position: 177px 6px;
	background-size: 16px;
	width: 160px;
}

.header-request-free-callback {
	font-size: 12px;
	color: #00a1e2;
	text-transform: uppercase;
	text-decoration: underline;
	line-height: 12px;
	padding: 4px 0 0 2px;
	letter-spacing: 0.5px;
}

.header-phones-wrapper {
	float: right;
	width: 128px;
	padding-top: 45px;}

.header-phone {
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #000;
	font-size: 12px;
	line-height: 12px;
	background-size: 13px 13px;
	padding-left: 20px;
	padding-bottom: 8px;
}

.header-phone-velcom {
	background-image: url(../i/icon-velcom.png);
}

.header-phone-mts {
	background-image: url(../i/icon-mts.png);
}

.header-phone-fixed {
	background-image: url(../i/icon-fixed.png);
}

.header-nav {
	position: absolute;
	z-index: 0;
	top: 152px;
	font-size: 0;
	line-height: 0;
	text-align: center;
	margin-left: 247px;
}

.header-nav-item {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	padding: 5px 6px 7px;
	margin-left: 15px;
	text-align: center;
	float: left;
}

.header-nav-item-active,
.header-nav-item:hover {
	background-color: #c4211a;
	color: #fff;
}

.header-basket-wrapper {
	color: #fff;
	height: 25px;
	position: absolute;
	top: 153px;
	right: 13px;
	background-image: url(../i/icon-basket.png);
	background-color: #c4211a;
	background-size: 16px 15px;
	padding-left: 42px;
	background-repeat: no-repeat;
	background-position: 12px 6px;
	letter-spacing: -0.5px;
}

.header-basket-goods-count {
	font-size: 10px;
	line-height: 10px;
	position: absolute;
	padding: 0 3px 2px 4px;
	background-color: #ed1c24;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
	left: 36px;
	top: -8px;
	text-align: center;
}

.header-basket-goods-cost {
	background-color: #882416;
	font-size: 14px;
	line-height: 14px;
	padding: 7px 7px 4px;
	float: left;
	border-left: 1px solid #cf5c57;
}

.header-basket-currency-name {

}




