body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.15rem;
	background-color: #f7f0ea;
	color: #4A3A2D;
}

.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: rgba(247, 240, 234, 0.9);
}

.header-title {
	font-size: 1.15rem;
	text-align: center;
	padding: 0.7rem 3rem;
}

.content-wrapper {
	padding: 4rem 0.8rem;
	margin-top: 0.9rem;
}

.list-item {
	display: block;
	background-color: #EEE5DC;
	margin-bottom: 0.9rem;
	padding: 0.6rem;
	font-size: 1rem;
	text-align: center;
}

.list-item:active {
	opacity: 0.5;
}

.back,
.setting {
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 2.5rem;
	width: 2.5rem;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.9;
}

.back {
	left: 0;
	background-image: url('../i/white/back.svg');
	background-size: 75% auto;
}

.setting {
	background-image: url('../i/white/setting.svg');
	right: 0;
	background-size: 60% auto;
}

.question-image {
	display: block;
	width: 100%;
	padding-bottom: 0.8rem;
}

.question-text {
	padding-bottom: 0.8rem;
	text-indent: 1rem;
}

.button {
	-webkit-box-shadow: inset 0 1px 0 0 #ffffff;
	box-shadow: inset 0 1px 0 0 #ffffff;
	background-image: -webkit-linear-gradient(top, #ededed, #dfdfdf );
	background-image: linear-gradient(top, #ededed, #dfdfdf );
	background-color: #ededed;
	border-radius: 0.4rem;
	border: 1px solid #dcdcdc;
	text-align: center;
	text-shadow: 1px 1px 0 #ffffff;
	padding: 0.3rem 1rem;
	width: 35%;
	margin: 0 auto;
	margin-bottom: 0.8rem;
}

.button:active {
	background: -webkit-linear-gradient(top, #dfdfdf, #ededed);
	background: linear-gradient(top, #dfdfdf, #ededed);
	background-color: #dfdfdf;
}











