.main-wrapper {
	width: 230px;
	height: 200px;
	background-color: #979797;
	margin: 200px auto;

	background-image: url(../img/645px-Love_Heart_SVG.svg.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	-o-background-clip: text;
	background-clip: text;

	color: transparent;

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	font-size: 20px;
	line-height: 20px;
	overflow: hidden;

}